.main-container{
  text-align: center;

}

/* .steps-max-container{
  display: flex;
} */

.min-steps-container{
  display: flex;
  justify-content: space-around;
}

.max-steps-container{
  display: flex;
  justify-content: space-around;
}

button{
  cursor: pointer;
}

.steps-max-buttons{
  padding: 2%;
  background-color: antiquewhite;
  border: none;
  border-radius: 20px;
}

.steps-max-buttons:hover{
  background-color: bisque;
}

.func-buttons{
  margin: 5% ;
  padding: 1%;
}